@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
  }
  
  td, th {
    border: 1px solid #ccc;
    padding: 5px 10px;
  }
  
  th {
    background-color: #325288;
    color: #fff;
  }